html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Main Page */

@media screen and (min-width: 576px) and (max-width: 768px) {
  header {
    justify-content: center;
    display: flex !important;
    flex-direction: column;
    padding: 5%;
    height: 20vh;
    width: 100vw;
  }
  
  .main-page {
    position: relative;
  }

  .top-icons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .top-profile-container {
    display: flex;
  }
  
  .app-icon-container {
    font-size: 45px;
    font-weight: 900;
    text-decoration: none;
  }

  .app-icon-container p {
    margin: 0;
  }
  
  .menu-icon {
    color: #414464;
    font-size: 35px;
    padding: 30px;
    border: none;
    background: none;
  }
  
  .swip {
    color: #4e50b8;
  }
  
  .ex {
    color: #f0916e;
  }
  
  .top-profile-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .top-avatar-container {
    border: 1px solid #dedede;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin: 0px;
    border-radius: 25%;
  }
  
  .top-avatar-container-ellipsis {
    padding: 10px;
    border: none;
  }
  
  .fa-ellipsis-v {
    color: #414464;
  }
  
  main {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 5%;
    height: 60vh;
    width: 100vw;
  }

  .images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/russian.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -15px 30px;
    height: 55vh;
    width: 80vw;
    border-radius: 5%;
    background-color: lightblue;
    position: relative;
  }

  .images-container-distance {
    color: #fff;
    position: absolute;
    left: 10%;
    top: 5%;
  }

  .images-container-distance-kilometers {
    margin-left: 10px;
  }

  .images-container-menu {
    position: absolute;
    right: 10%;
    top: 5%;
  }

  .images-container-boxes {
    list-style: none;
  }

  .images-container-boxes a {
    line-height: 25px;
    color: rgb(255, 255, 255, 0.8);
  }

  .profile-information-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -15%;
    background-color: #fff;
    width: 60vw;
    height: 15vh;
    border-radius: 5%;
    box-shadow: 10px 10px #f5f5f5
  }

  .profile-information-box-top {
    padding: 10px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    height: 10vh;
  }

  .profile-information-box-top p {
    margin: 0;
    margin-left: 10px;
    align-self: center;
  }

  .profile-information-add-user {
    grid-area: 1/2/3/3;
    align-self: center;
    justify-self: center;
  }

  .profile-information-name {
    font-size: 40px;
    color: #414464;
    font-weight: 700;
  }

  .profile-information-location {
    color: #666;
  }

  .fa-user-plus {
    font-size: 30px;
    color: #f0916e;
  }

  .profile-information-box-bottom {
    height: 5vh;
  }

  .profile-information-box-bottom {
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .profile-information-box-bottom a {
    color: #999;
    text-decoration: none;
  }

  footer {
    margin-top: 10vh;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }

  .bottom-icons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .bottom-element-container {
    font-size: 30px;
    color: #999;
  }

  .bottom-element-main-container {
    position: relative;
    top: -15px;
    background-color: #4e50b8;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
    color: #fff;
    box-shadow: 10px 10px 10px #dedede
  }
}