html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Main Page */

.top-icons-container {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-icon-container {
  font-size: 45px;
  font-weight: 900;
  text-decoration: none;
}

.app-icon-container p {
  margin: 0;
}

.menu-icon {
  color: #414464;
  font-size: 35px;
  padding: 30px;
  border: none;
  background: none;
}

.swip {
  color: #4e50b8;
}

.ex {
  color: #f0916e;
}

/* Main  */

.main-profile-box {
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.top-profile-container {
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.top-avatar-container {
  border: 1px solid #dedede;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin: 0px;
  margin-left: 1.5px;
  margin-right: 1.5px;
  border-radius: 25%;
  background-color: #fff;
}

#top-avatar-container-ellipsis {
  padding: 10px;
  border: none;
  background-color: #fafafa;
}

.fa-ellipsis-v {
  color: #414464;
}

.images-container {
  background-image: url(images/russian.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  height: 50vh;
  width: 80vw;
  border-radius: 15px;
  background-color: lightblue;
  position: relative;
}

.images-container-distance {
  color: #fff;
  position: absolute;
  left: 10%;
  top: 5%;
}

.images-container-distance-kilometers {
  margin-left: 10px;
}

.images-container-menu {
  position: absolute;
  right: 10%;
  top: 5%;
}

.images-container-boxes {
  list-style: none;
}

.images-container-boxes a {
  line-height: 25px;
  color: rgb(255, 255, 255, 0.8);
}

.profile-information-box {
  position: absolute;
  bottom: -80px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 80%;
  border-radius: 15px;
  box-shadow: 10px 10px #f5f5f5
}

.profile-information-box-top {
  padding: 10px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto;
  height: 60px;
}

.profile-information-box-top p {
  margin: 0;
  margin-left: 10px;
  align-self: center;
}

.profile-information-add-user {
  grid-area: 1/2/3/3;
  align-self: center;
  justify-self: center;
}

.profile-information-name {
  font-size: 20px;
  color: #414464;
  font-weight: 700;
}

.profile-information-location {
  color: #666;
}

.fa-user-plus {
  font-size: 30px;
  color: #f0916e;
}

.profile-information-box-bottom {
  height: 40px;
  border-top: 1px solid #ececec;
  display: flex;
  justify-content: center;
  width: 99%;
}

 .profile-information-box-bottom p {
  margin: 0;
  font-size: 15px;
  align-self: center;
 }

.profile-information-box-bottom a {
  color: #999;
  text-decoration: none;
}

.bottom-icons-container {
  display: flex;
  align-items: center;
  margin-top: 40%;
  padding-top: 10px;
  border-top: 1px solid #ececec;
  justify-content: space-around;
  width: 99%;
}

.bottom-element-container {
  font-size: 30px;
  color: #999;
}

.bottom-element-main-container {
  position: relative;
  top: -25px;
  font-size: 35px;
  background-color: #4e50b8;
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  text-decoration: none;
  color: #fff;
  box-shadow: 10px 10px 10px #dedede
}

.top-icons-container-long-screen {
  display: none;
}

.information-sidebar {
  display: none;
}

.feature-sidebar {
  display: none;
}

@media (min-width: 992px) {

  .main-section {
    display: flex;
    align-items: center;
    padding-top: 20%;
  }

  .top-avatar-container {
    width: 50px;
    height: 50px;
  }

  #top-avatar-container-ellipsis {
    border: none;
    display: flex;
    background-color: #fafafa;
    padding-left: 22px;
    padding-top: 18px;
  }
  
  .fa-ellipsis-v {
    color: #414464;
  }

  .main-profile-box {
    margin-top: 0;
  }
  .images-container {
    background-position: 50% 70%;
    height: 40vh;
    width: 50vw;
  }

  .profile-information-box {
    display: none;
  }

  .information-sidebar {
    margin-left: 30px;
    width: 30vw;
    display: flex;
    flex-direction: column;
  }

  .filter-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 5px 5px 5px #dedede;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #414464;
    border-radius: 20px;
    background-color: #fff;
  }

  .filter-box p {
    margin: 10px;
  }

  .filter-box a {
    color: #4e50b8;
  }

  .information-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #dedede;
    background-color: #fff;
  }

  .information-bar-title {
    color: #666;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .information-bar-content {
    color: #4e50b8;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
  }

  .information-bar-button {
    display: flex;
    justify-content: center;
    background-color: #ececec;
    border-radius: 10px;
    margin-top: 35px;
  }

  .information-bar-button a {
    text-decoration: none;
    margin-top: 18px;
    margin-bottom: 18px;
    color: #999;
    font-weight: 600;
  }

  .information-box-secondary-location {
    display: flex;
    position: relative;
  }

  .location-container {
    position: absolute;
    top: 25px;
    right: -10px;
    font-size: 25px;
    background-color: #4e50b8;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    text-decoration: none;
    color: #fff;
    box-shadow: 5px 5px 5px #dedede;
  }

  .information-box-tertiary {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .information-box-tertiary p {
    margin: 0;
    font-size: 13px;
  }

  .information-box-gift {
    margin-left: 20px;
  }

  .information-box-gift h2 {
    font-size: 14px;
    margin: 0;
    color: #4e50b8;
    margin-bottom: 5px;
  }

  .information-box-gift p {
    color: #999;
  }

}

@media (min-width: 1200px) {
  .top-icons-container {
    display: none;
  }

  .top-icons-container-long-screen {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 5px 5px #dedede;
  }

  .app-icon-container {
    font-size: 40px;
  }

  .long-screen-location-container {
    display: flex;
    align-items: center;
    color: #999;
    font-size: 20px;
  }

  .long-screen-location-icon {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    background-color: #dedede;
    padding: 5%;
    width: 50px;
    border-radius: 5px;
  }

  .long-screen-location-text span {
    color: #414464;
    font-size: 700;
    text-decoration: underline;
  }

  .long-screen-location-text button {
    border: none;
    background-color: #fff;
  }

  .long-screen-location-text i {
    color: #999;
    font-size: 20px;
  }

  .long-screen-right-icons {
    display: flex;
    align-items: center;
  }

  .long-screen-right-icons a {
    color: #999;
    font-size: 30px;
    margin-left: 10px;
  }

  .long-screen-right-icons-notifications {
    margin-right: 20px;
    padding-right: 30px;
    border-right: 1px solid #dedede;
  }

  .long-screen-right-icons-notifications a {
    color: #999;
    font-size: 30px;
    margin-left: 20px;
  }

  .main-section {
    justify-content: center;
    padding-top: 8%;
    margin-bottom: 100px;
  }
  
  .feature-sidebar {
    display: block;
    width: 20vw;
  }

  .images-container {
    width: 40vw;
    height: 60vh;
  }

  .information-sidebar {
    width: 20vw;
    margin-left: 0;
  }

  .main-feature-container {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 8%;
    background-color: #fff;
    box-shadow: 5px 5px 5px #dedede;
    margin-bottom: 30px;
    border-radius: 20px;
  }

  .main-feature-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .main-feature-top a {
    border: 1px solid #dedede;
    margin: 0px;
    border-radius: 25%;
    background-color: #fff;
  }
  
  .feature-profile-container-text {
    margin-left: 10px;
  }

  .main-feature-top h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #414464;
  }

  .main-feature-top p {
    margin: 0;
    font-size: 10px;
    color: #999;
    margin-top: 5px;
  }

  .main-feature-top p span {
    color: #4e50b8;
    text-decoration: underline #4e50b8;
    font-weight: 700;
  }

  .main-feature-top i {
    color: #999;
    font-size: 20px;
    margin-left: 10px;
  }

  .main-feature-bottom {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;
  }

  .feature-likes {
    font-size: 20px;
    font-weight: 700;
  }

  .feature-likes i {
    color: #f0916e
  }

  .feature-likes a {
    color: #4e50b8;
    text-decoration: none;
  }

  .feature-premium {
    background-color: #4e50b8;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
  }

  .feature-premium i,
  .feature-premium a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
  }

  .feature-sidebar-list {
    padding-left: 5%;
  }

  .feature-sidebar-list-element {
    list-style: none;
    line-height: 50px;
    font-size: 20px;
  }

  .feature-sidebar-list-element a {
    text-decoration: none;
    color: #999;
  }

  .feature-sidebar-list-element span {
    margin-left: 20px;
    color: #999;
  }

  .bottom-icons-container {
    display: none;
  }
}

/* Conversations Page */

.top-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #fafafa;
}

.message-icon-container {
  font-size: 30px;
  text-decoration: none;
  color: #414464;
}

.conversations-container {
  position: relative;
  top: 130px;
  height: 100vh;
  z-index: 0;
  padding-left: 5%;
  padding-right: 5%;
}

.conversation-items-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px #dedede;
}

.conversation-avatar-container {
  border: 1px solid #dedede;
  margin: 0px;
  border-radius: 25%;
  background-color: #fff;
}

.conversation-bites-container {
  margin-left: 20px;
}

.conversation-bites-container h2 {
  margin: 0px;
  color: #414464;
  font-size: 14px;
  margin-bottom: 5px;
}

.conversation-bites-container p {
  margin: 0px;
  color: #999;
  font-size: 12px;
}

.conversation-bites-container p i {
  margin-right: 5px;
}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #fafafa;
}

/* Chat Page */

.message-icon-container span {
  color: #0f0;
}

.chat-container {
  margin-top: 120px;
  z-index: 0;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.chat-element-left {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: flex-start;
  margin-bottom: 15px;
}

.chat-element-left h2 {
  border-radius: 20px;
  padding: 5%;
  color: #414464;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  background-color: lavender;
}

.chat-element-left p {
  color: #999;
  font-size: 12px;
  font-weight: 400;
  align-self: flex-end;
  margin-bottom: 0;
}

.chat-element-right {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: flex-end;
  margin-bottom: 15px;
}

.chat-element-right h2 {
  border-radius: 20px;
  padding: 5%;
  color: #414464;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  background-color: #ececec;
}

.chat-element-right p {
  color: #999;
  font-size: 12px;
  font-weight: 400;
  align-self: flex-end;
  margin-bottom: 0;
}